<% include ./partials/header %>

    <section id="main">

        <div class="container-fluid">

            <div class="row">

                <section id="posts" class="col-md-9 col-sm-12 col-xs-12">
                    <div class="row">

                        <% posts.forEach(function(post) { %>
                        
                            <article class="col-md-10 col-md-offset-1 postPreview">
                                
                                <h1><%= post.title %></h1>
                                <p class="lead">
                                    <i class="fa fa-user"></i> Posted by <span id="author"><%= post.author %></span>
                                    <span class="pull-right"><i class="fa fa-calendar"></i> <%= moment(post.createdAt).fromNow() %></span>
                                </p>
                                
                                <div class="post-preview">
                                    <%- post.content.substring(0, 500) %>...
                                </div>
                                
                                <div class="post-links">
                                    <a href = "/posts/<%= post._id %>" class = "btn btn-lg">Read more...</a>
                                    <p class="comments pull-right"><i class="fa fa-comment"></i> Comments</p>
                                </div>
                                
                                
                            </article>
                        
                        <% }); %>

                    </div>
                </section>
                
                <% include ./partials/sidebar %>

            </div>

        </div>


    </section>

    <% include ./partials/footer %>
